.header {
  background-color: rgb(226, 221, 221);
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
}

ul{
  list-style: none;
}
li{
  display: inline;
  padding: 10px;
}